@{ ViewData["Title"] = "Home Page"; }

<div class="home-view mw-100 mh-100 shadow-lg">

    <img src="https://i.imgur.com/uVTkxfY.png" class="img-fluid" alt="Responsive image">

    @*<div class="text-center">
            <h1 class="display-4">Welcome</h1>
            <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        </div>*@

</div>
