@{ ViewData["Title"] = "Home Page"; }

<div class="home-view mw-100 mh-100 shadow-lg">

    <img src="https://lh3.googleusercontent.com/7Ym3z6qjY2Lt-hePVSW4ZBioKqSy0cKXzdpZ3OWpIEyNdLd0b5RUvg9qvLf5cHDbKWflx3Da4afTS57Q6LZIqumNCJ9vvPdF6qg62eo8QGvMAmrCEf-c7QJUAwbGWwMoHFY2ERx_Eo2A0c2ayZFaheeJ3DZZ9bUqEZBLilJGJWpw3L-t2ESxHC0McRJRUE7c0gEUI1-6lobda1MjVYLmz9lzOmiMANOKAEv5nmAssvlb1OPYUad7xBQJ5HXgs2pYLQC52aaQconmeIuuKKAdiz5gA-yJKDbHGpLUnhyCaq7WBcBywNDT4jA25IdZasaouI1KOwt4mLhLbLPVGke4HHpi8LfWwrKmcQ38_SEb07uaOh4c52Kmfi4BBKZIFGVPb6ogEMB6SU4HCF6F7N_6496ZBmkbqekSej6XCfYaohiUL4qRa0su5wiFGLdu8LZ2X31YnyzdeAht_FCWXKDFZwBw5XhZgg5VfZSkHsq3hEdC8DpwiU7pirJ3U5DAQKizHE6qcPnRrqNujVYyJzS4Trz72yD4n0dq7IsX7wS3kPq9ubgTr4CFA2UaZMQIZLpE8K9LuCZaz4yq5i6BnDwZLtMyNmwiXTg32je83bdCHVrXs7_JrPV3zEnBW66nlv_xtdwjMffgnbWn-aqGuD2n39RWhgPFYDBjcZ2oT8GesyGu7p7yUdgj0cmqv0RRoGQ=w1280-h740-no?authuser=0" class="img-fluid" alt="Responsive image">

    @*<div class="text-center">
            <h1 class="display-4">Welcome</h1>
            <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        </div>*@

</div>
