@model IEnumerable<PhoneSmart.Models.Phone>

@{ ViewData["Title"] = "Index"; }

@* Heading *@
<div class="container heading-container">
    <div class="heading-title w-50 mx-auto mt-5 mb-5">
        <h1 class="d-flex justify-content-center mx-auto display-4 font-weight-light">Phones</h1>
    </div>
</div>

@* Create & Search *@
<div class="container d-flex justify-content-between mb-5">
    <div>
        <p>
            <i class="fas fa-mobile-alt"></i>
            <a asp-action="Create">Post New Phone</a>
        </p>
    </div>

    <div>
        <form asp-action="Index" method="get">
            <div class="form-actions no-color">
                <p>
                    Search by Phone <input class="form-control form-control-sm"
                                           type="text"
                                           name="SearchString"
                                           value="@ViewData["CurrentFilter"]"
                                           placeholder="Ex: Apple, iPhone 11" />
                </p>
            </div>
        </form>
    </div>
</div>

@* Test card *@
<div class="card shadow-lg w-25">
    <div class="card-content">
        <div class="card-body">
            <div class="media d-flex">
                <div class="align-self-center">
                    <i class="icon-graph success font-large-2 float-left"></i>
                    <i class="fab fa-bootstrap"></i>
                    <i class="fa fa-heart"></i>
                    <img src="#" alt="Alternate Text" />
                </div>
                <div class="media-body text-right">
                    <h3>64.89 %</h3>
                    <span>Bounce Rate</span>
                </div>
            </div>
        </div>
    </div>
</div>



@* Posts *@
<div class="container d-flex justify-content-md-around flex-wrap w-75" style="height: auto;
  position: relative;
">
    @foreach (var item in Model)
    {@* Test card *@
                    <div class="card shadow-lg w-25">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="media d-flex">
                                    <div class="align-self-center h-75 w-25">
                                        <i class="icon-graph success font-large-2 float-left"></i>
                                        <i class="fab fa-bootstrap"></i>
                                        <i class="fa fa-heart"></i>
                                        <img class="float-left" style="object-fit: cover;" src="@item.PhoneModel.PhoneURL" alt="Alternate Text" />
                                    </div>
                                    <div class="media-body text-right">
                                        <h3>64.89 %</h3>
                                        <span>Bounce Rate</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>}
</div>
